* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

button {
  cursor: pointer;
}