.cart-container {
    .wrapper {
        padding: 20px;

        .title {
            font-weight: 300;
            text-align: center;
        }

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .top-button {
                padding: 10px;
                font-weight: 600;
                color: white;
            }

            .black {
                padding: 10px;
                font-weight: 600;
                background-color: black;
                color: white;
            }

            .transparent {
                padding: 10px;
                background-color: transparent;
                color: black;
                border: 1px solid black;
            }

            .top-texts {
                .top-text {
                    text-decoration: underline;
                    cursor: pointer;
                    margin: 0 10px;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            padding: 15px;

            .info {
                flex: 3;

                .product {
                    border-bottom: 1px solid #eee;
                    display: flex;
                    justify-content: space-between;

                    .product-detail {
                        flex: 2;
                        display: flex;

                        img {
                            object-fit: cover;
                            width: 200px;
                            border-radius: 3%;
                        }

                        .details {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            .product-id {
                                font-weight: 300;
                                font-size: 16px;
                            }
                        }
                    }

                    .price-detail {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .product-amount {
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;

                            .counter {
                                width: 40px;
                                height: 40px;
                                background-color: transparent;
                                font-size: 24px;
                            }

                            .amount {
                                font-size: 24px;
                                margin: 5px;
                            }
                        }

                        .product-price {
                            font-size: 30px;
                            font-weight: 200;
                        }
                    }
                }
            }

            .summary {
                flex: 1;
                border: 0.5px solid lightgray;
                border-radius: 10px;
                padding: 20px;
                height: 50vh;

                .title {
                    font-weight: 200;
                }

                .summary-item {
                    margin: 30px 0;
                    display: flex;
                    justify-content: space-between;
                }

                .total {
                    font-weight: 500;
                    font-size: 24px;
                }

                button {
                    width: 100%;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .cart-container {
        .wrapper {
            .bottom {
                flex-direction: column;

                .info {
                    .product {
                        .product-detail {
                            .details {
                                font-size: 14px;
                            }
                        }

                    }
                }

            }
        }
    }
}

@media screen and (max-width: 700px) {
    .cart-container {
        .wrapper {
            .bottom {
                flex-direction: column;

                .info {
                    .product {
                        .product-detail {
                            img {
                                max-width: 100px;
                            }

                            .details {
                                font-size: 10px;
                            }
                        }

                        .price-detail {
                            .product-amount {
                                margin: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .cart-container {
        .wrapper {
            .bottom {
                .info {
                    .product {
                        .product-detail {
                            img {
                                max-width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }

            .top {
                .top-text {
                    display: none;
                }
            }

            .product-price {
                margin-bottom: 20px;
            }

        }
    }
}