.categories-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;

    .category {
        flex: 1;
        position: relative;

        img {
            width: 100%;
            min-width: 300px;
            max-width: 500px;
            height: 100%;
            min-height: 100px;
            max-height: 300;
            object-fit: cover;
        }

        .category-info {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .category-title {
                color: rgba(131, 128, 169, 0.9);
                margin-bottom: 20px;
                font-weight: 800;
            }

            button {
                padding: 10px;
                background-color: white;
                color: gray;
                font-weight: 600;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }
    }
}