.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.1),
        );
    background-image: url("http://chitrahandicraft.com/wp-content/uploads/2019/02/login-page-background-images-hd-10.jpg");

    .wrapper {
        width: 40%;
        padding: 20px;
        background-color: rgb(214, 214, 214);


        .title {
            font-size: 24px;
            font-weight: 300;
        }


        form {
            display: flex;
            flex-direction: column;
            text-align: center;


            input {
                flex: 1;
                min-width: 40%;
                margin: 10px 0;
                padding: 10px;
            }

            .login-btn {
                margin: auto;
                width: 40%;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                margin-bottom: 10px;
            }

            a {
                margin: 10px 0;
                font-size: 16px;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .login-container {
        .wrapper {
            width: 75%;
        }
    }
}