.header-container {
    height: 60px;
    top: 0;
    opacity: 0.95;
    background-color: white;
    color: black;


    .header-wrapper {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            flex: 1;
            display: flex;
            align-items: center;

            .language {
                font-style: 14px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .search {
                border: 1px solid lightgray;
                display: flex;
                align-items: center;
                margin-left: 25px;
                padding: 5px;

                .search-icon {
                    font-size: 16px;
                    color: gray;
                }
            }
        }

        .center {
            flex: 1;
            text-align: center;
            color: black;

            .logo {
                font-weight: bold;
            }


        }

        .right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 25px;

            a {
                color: black;
            }

            .dropdown {
                position: relative;
                display: inline-block;

                &:hover .dropdown-content {
                    display: block;
                }

                .dropbtn {
                    background-color: transparent;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


                    a {
                        top: 0;
                        right: 0;
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        margin-top: 10px;

                        &:hover {
                            background-color: #f1f1f1
                        }
                    }
                }
            }

            .notification {
                font-size: 24px;

                .badge {
                    position: absolute;
                    background-color: red;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    top: -4px;
                    left: 15px;
                    color: white;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .menu-item {
                font-style: 14px;
                cursor: pointer;
                position: relative;

            }
        }
    }
}

@media screen and (max-width: 980px) {
    .header-container {
        height: 70px;

        .header-wrapper {
            padding: 10px 15px;

            .left {
                .language {
                    display: none;
                }

                .search {
                    input {
                        width: 90px;
                    }
                }
            }

            .center {
                .logo {
                    font-size: 24px;
                }
            }

            .right {
                flex: 2;
                justify-content: center;

                .menu-item {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
    }
}