.newsletter-container {
    height: 60vh;
    width: 100%;
    background-color: #fcf5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .newsletter-title {
        font-size: 70px;
        margin-bottom: 20px;
    }

    .newsletter-description {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .input-container {
        width: 50%;
        height: 70px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            font-size: 25px;
            flex: 8;
            height: 100%;
            padding-left: 20px;
            font-weight: bold;
            opacity: .5;


        }

        button {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: teal;
            font-size: 35px;
            color: rgb(219, 219, 219);
        }
    }
}