.slider-container {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    padding: 20px;
    position: relative;

    .arrow {
        width: 50px;
        height: 50px;
        background-color: #fff7f7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        opacity: 0.7;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .wrapper {
        width: 100%;
        display: flex;

        .slide {
            display: flex;
            align-items: center;
            width: 100vw;
            height: 100vh;

            .image-container {
                flex: 1;
                height: 100%;

                img {
                    height: 70%;
                    border-radius: 3%;
                }
            }

            .info-container {
                flex: 1;
                padding: 50px;

                .title {
                    font-style: 70px;
                }

                .description {
                    margin: 50px 0;
                    font-weight: 500;
                    font-size: 20px;
                    letter-spacing: 2px;
                }

                button {
                    padding: 10px;
                    font-size: 20px;
                    background: transparent;
                    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
                    cursor: pointer;

                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .slider-container {
        .wrapper {
            .slide {
                flex-direction: column;

                .image-container {
                    height: 50%;

                    img {
                        height: 100%;
                    }
                }

                .info-container {
                    .description {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}