.navbar {
    height: 50.5px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    position: sticky;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 20;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                background: transparent;
                padding: 4px;

                &::placeholder {
                    font-size: 12px;
                }
            }

            .icon {
                font-size: 24px;
                border-left: 0.5px solid lightgray;
                cursor: pointer;
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon {
                    font-size: 20px;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    border-radius: 50%;
                    color: white;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}