.sidebar {
    flex: 1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }

    }

    .hr {
        width: 100%;
        height: 0.5px;
        background: lightgray;
    }

    .center {
        padding-left: 10px;

        ul {
            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background: #ece8ff;
                }

                .icon {
                    font-size: 18px;
                    color: #7764ba;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .color-option {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background: whitesmoke;
            }

            &:nth-child(2) {
                background: #333;
            }
        }
    }
}