.table {
    width: 100%;
    padding: 10px;
    flex: 2;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;

        th,
        td {
            text-align: left;
            border-bottom: 1px solid lightgray;
            padding: 10px;

            .wrapper {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    object-fit: cover;

                }
            }

            .status {
                padding: 5px;
                border-radius: 5px;

                &.Approved {
                    color: green;
                    background: rgba(0, 128, 0, 0.151);

                }

                &.Pending {
                    color: goldenrod;
                    background: rgba(189, 189, 3, 0.103);

                }
            }
        }



    }
}