.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 120px;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 14px;
            color: rgb(160, 160, 160);
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percantage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 28px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;

            &.user {
                color: crimson;
                background-color: rgba(255, 0, 0, 0.2);
            }

            &.shoppigCart {
                color: crimson;
                background-color: rgba(255, 0, 0, 0.2);
            }

            &.earning {
                color: green;
                background-color: rgba(0, 128, 0, 0.2);
            }

            &.balance {
                color: purple;
                background-color: rgba(128, 0, 128, 0.2);
            }
        }
    }
}